{% extends 'base.html' %} {% block content %}
<table border="1">
  <tr>
    <th>Foresatt 1 navn</th>
    <th>Foresatt 2 navn</th>
    <th>Personnummer barn</th>
    <th>Prioriter liste over barnehager</th>
  </tr>
  {% for soknad in soknader %}
  <tr>
    <td>{{ soknad.foresatt_1.foresatt_navn }}</td>
    <td>{{ soknad.foresatt_2.foresatt_navn }}</td>
    <td>{{ soknad.barn_1.barn_pnr }}</td>
    <td>{{ soknad.barnehager_prioritert }}</td>
  </tr>
  {% endfor %}
</table>
{% endblock %}
